
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bgdark {
  background-color: #171D21;
}
.section-bgblue {
  background: rgb(61,83,102);
  background: url("/assets/img/Screwdriver.svg"), linear-gradient(140deg, rgba(61,83,102,1) 6%, rgba(23,29,33,1) 6%, rgba(23,29,33,1) 12%, rgba(61,83,102,1) 12%, rgba(61,83,102,1) 100%, rgba(61,83,102,1) 100%);

  background-position: right bottom, center;
  background-repeat: no-repeat;
  background-size: 15%, 100%;
}

.section-bgpink {
  background-color: #EAD7E1;
}

.section-bggreen{
  background-color: #8EB897;
}

.section-bgred{
  background-color: #FF5964;
  background-image: url("/assets/img/lights.svg");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #052c3f;
}

.section-title p {
  margin-bottom: 0;
}
.gcalIframe{
  width:80%;
}
.widgetHight{
  width: 140%;
}
.insta{
  margin-top: 0%;
}
.form{
  background: rgb(23,29,33);
  background: linear-gradient(90deg, rgba(23,29,33,1) 0%, rgba(23,29,33,1) 0%, rgba(23,29,33,1) 10%, rgba(255,89,100,1) 10%, 
  rgba(255,89,100,1) 13%, rgba(23,29,33,1) 13%);
  padding: 3%;
  border: #FF5964 solid 3px;

}
@media (min-width: 2042px) {
  .section-bgblue {
    background: rgb(61,83,102);
    background: url("/assets/img/Screwdriver.svg"), linear-gradient(140deg, rgba(61,83,102,1) 6%, rgba(23,29,33,1) 6%, rgba(23,29,33,1) 12%, rgba(61,83,102,1) 12%, rgba(61,83,102,1) 100%, rgba(61,83,102,1) 100%);
  
    background-position: right bottom, center;
    background-repeat: no-repeat;
    background-size: 12%, 100%;
  }
}
@media (max-width: 992px) {
  .section-bgstyle{
    background: rgb(23,29,33);
   }
   .section-bgred{
    background-color: #FF5964;
    background-image: url("/assets/img/lights.svg");
    background-size: 0%;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .section-bgblue {
    background-color: #3D5366;
    background-image: url("/assets/img/Group7.svg");
    background-size: 0%;
    background-position: top left;
    background-repeat: no-repeat;
  }
  .section-bgdark {
    background-color: #171D21;
    background-image: url("/assets/img/blobby.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 0%;
  }
  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

   .widgetHight{
     width: 100%;
   }
   .gcalIframe{
    margin-left: 10%;
    width:80%;
  }
  .insta{
    margin-top: 5%;
  }
}


input[type=text], select, textarea{
  width: 100%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=email], select, textarea{
  width: 100%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=number], select, textarea{
  width: 100%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}


label {
  padding: 3px 0 8px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #3D5366;
  color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 9px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
table, th, td {
  border: 1px solid black;
}
hr.solid {
  border-top: 1px solid #bbb;
}


/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  input[type=submit] {
    background-color: #3D5366;
    color: white;
    margin: 10%;
    padding: 9px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
}



.one, .two, .three, .four, .five {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: "Wavehaus", sans-serif;
}
.one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
  background-position: 0% 30%;
}
.one:hover:after, .two:hover:after, .three:hover:after, .four:hover:after, .five:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.one:before, .two:before, .three:before, .four:before, .five:before, .one:after, .two:after, .three:after, .four:after, .five:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.one:before, .two:before, .three:before, .four:before, .five:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.one:after, .two:after, .three:after, .four:after, .five:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}


.two {
 
  background-color: #5a636b;
}

.two:after {
  content: "🌐";
}
.two b {
  color: #ffdab400;
  font-weight: 700;
}

.three {
 
  background-color: #5a636b;
}
.three:hover {
  box-shadow: 0px 0px 0px 2px rgba(150, 35, 35, 0) inset, 0px 0px 30px 0px #000000;
}
.three:hover:after {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
          
          -webkit-transform: rotate(-500deg);
          transform: rotate(-500deg);
  
}
.three:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.three:after {
  content: "🚀";
}
.three b {
  color: #ffdab400;
  font-weight: 700;
}

.four {
  background-color: #8EB897;
}
.four:hover {
  box-shadow: 0px 0px 0px 2px rgba(150, 35, 35, 0) inset, 0px 0px 30px 0px #000000;
}
.four:hover:after {
  -webkit-transform: rotate(3000deg);
          transform: rotate(3000deg);
}
.four:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.four:after{
  content: "⚙️";
}
.four b {
  color: #ffdab400;
  font-weight: 700;
}

.five {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #DE3964;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DE3964), to(rgba(154, 40, 87, 0.24))), url("http://nightlifeassociates.com/wp-content/uploads/2014/03/hakkasan-nightclub_tiesto-smalls.jpg");
  background-image: linear-gradient(to bottom, #DE3964, rgba(154, 40, 87, 0.24)), url("http://nightlifeassociates.com/wp-content/uploads/2014/03/hakkasan-nightclub_tiesto-smalls.jpg");
}
.five:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #DE3964;
}
.five:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.five:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.five:after, .five:before {
  content: "";
}
.five b {
  color: #F764FF;
  font-weight: 700;
}

.containerwebdev{
  margin:5% 0 5% 0;
}

.containerrocket{
  margin:5% 0 5% 0;
}
.containerrobot{
  margin:5% 0 5% 0;
}



.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel {
    margin-bottom: 20px !important;
    background-color: #ffffff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 15px 16px 13px 8px rgb(4 4 4 / 5%);
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ffdab400;
    text-align: center;
    color: #ffdab400;
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #052c3f;
}

.about .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
  color: #4d8090;
}
.about .img-fluid {
  width: 90%;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.aboutTitle{
  text-align: unset;
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #85b0be;
}

.about .content p:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .about .img-fluid{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutTitle{
    text-align: center;
  }
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding-top: 0;
}

.faq .faq-item {
  margin-bottom: 40px;
}

.faq .faq-item i {
  color: #85b0be;
  font-size: 30px;
  float: left;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.faq .faq-item h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 0 10px 40px;
}

.faq .faq-item p {
  margin-left: 40px;
}
