
button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background:#FF5964 ;
    color: #fff;
}

hr {
    height: 2px !important;
    background: #fff;
    border: none;
    opacity: 100 !important;
}

#accordion {
    color: #fff;
}